CompileFlags:
  Add:
    - "-I/home/user/snake/SDL/include"
    - "-I/home/user/snake/include"
    - "-I/home/user/snake/yaml-cpp/include"
    - "-std=c++20"
    - "-Wall"
    - "-Wextra"
    - "-pedantic-errors"
