CompileFlags:
  Add:
    - "-I/home/oyster/snake/SDL/include"
    - "-I/home/oyster/snake/include"
    - "-I/home/oyster/snake/yaml-cpp/include"
    - "-std=c++20"
    - "-Wall"
    - "-Wextra"
    - "-pedantic-errors"
